{% extends "layout.html" %}

{% block customhead %}
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvDGi3dnZ2KcsoZWC5n1PL8LanEbloMSM&sensor=true&libraries=places&language=ro">
</script>

{% endblock %}

{% block body %}
	<p class="lead">Baza de date contine {{ data.count() }} câmpuri.</p>
	<table class="table table-striped table-hover table-condensed table-bordered">
		<tr>
			{% for h in header %}
			<th>{{ h }}</th>
			{% endfor %}
		</tr>
		
	    {% for row in sample %}
	    <tr>
	    	{% for key in keys %}
	    	<td>{{ row[key] }}</td>
	    	{% endfor %}
	    </tr>
	    {% endfor %}
	</table>
    <div id="heatmap"></div>

{% endblock %}