@media (min-width: 768px) {
  .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
  }
  .navbar .navbar-collapse {
      text-align: center;
  }
}

#map-canvas {
  min-height: 500px;
}

.navbar {
  /* min-height: 64px; */
}

.navbar-default .navbar-nav>li>a {
  /* color: #aaa; */
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.tab-pane .row {
  padding-top: 16px;
}